@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
body {
  background-color: #e8d9bf;
  width: 100%;
  margin: 0 auto;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}
.pc_nav ul li {
  width: 105px;

  /*揃え位置を指定*/
  text-align: center;

  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}
.header_logo {
  width: 226px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

/*headerここまで*/

.main {
  max-width: 1920px;
}

main > section {
  max-width: 1000px;
  margin: 0 auto;
}

/*メイントップエリア*/

.main_top {
  text-align: center;
  width: 100%;
  margin-top: 107px;
}

.font_size_1 {
  font-size: 30px;
  white-space: nowrap;
  font-weight: 100;
}
.font_size_2 {
  font-size: 82px;
  line-height: 1.17;
  padding: 58px;
  white-space: nowrap;
  font-weight: 300;
}

.font_size_pc_3 {
  font-size: 23px;
  margin: 0 auto;
  padding-bottom: 102px;
  font-feature-settings: "palt";
  line-height: 1.65;
  flex-wrap: wrap;
  max-width: 841px;
}

.font_size_sp_3 {
  display: none;
}

/*ABOUT USエリア*/

/*疑問：前回解説いただいた通りにimg画像を50%で入れると画像サイズがとても小さくなります
また、このエリアがmargin 0 autoを入れても中央揃えにならないです*/

.about_us_title_img {
  border-bottom-right-radius: 82px;
  width: 50%;
}

.about_us_logo {
  padding-top: 12%;
  height: 78px;
  white-space: nowrap;
}

.about_us ul {
  display: flex;
  margin: 0 auto;
}
.about_us li {
  margin: 0 auto;
  width: 40%;
}

.about_us h3 {
  font-size: 40px;
  line-height: 1.38;
  white-space: nowrap;
  font-weight: 200;
  margin-left: 5%;
  margin-top: 58px;
  margin-bottom: 40px;
  max-width: 43%;
}

.about_us p {
  font-size: 16px;
  line-height: 1.62;
  margin-left: 8%;
  font-feature-settings: "palt";
  display: block;
  text-align: left;

  margin-left: 5%;
  height: 78px;
  flex-wrap: wrap;
  padding-bottom: 108px;
}

.about_us_pc {
  display: block;
}
.about_us_sp {
  display: none;
}

.about_us_title_pc {
  display: block;
  text-align: left;
  max-width: 100%;
  margin-left: 5%;
  height: 78px;
  white-space: nowrap;
}

.about_us_title_sp {
  display: none;
}

/*MENUエリア*/
h2 {
  text-align: center;
  margin: 0 auto;
}

.menu_title_logo {
  width: auto;
  padding-top: 110px;
  padding-bottom: 50px;
  height: 78px;
}

.menu li div {
  position: relative;
}

.menu_img {
  max-width: 300px;
  max-height: 200px;
  border-top-right-radius: 42px;
  margin: 0 auto;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.menu li {
  padding-left: 10px;
  padding-right: 25px;
  width: 30%;
}

.menu h3 {
  color: #d30202;
  font-size: 38px;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-weight: lighter;
  top: 90%;
  left: 0;
  position: absolute;
  width: 300px;
}

.menu p {
  margin-top: 50px;
  font-feature-settings: "palt";
  font-size: 17px;
  line-height: 1.4;
}

/*GARRERYエリア*/
.gallery_title_logo {
  height: 78px;
  padding-top: 110px;
  padding-bottom: 27px;
}

.gallery_img_pc li {
  margin: 0 auto;
}
.gallery_img_pc {
  display: flex;

  width: 100%;
  max-height: 300px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.gallery_img_sp {
  display: none;
}

main > section.gallery_slider,
main > section.access,
main > section.event {
  max-width: 100%;
}

/*EVENTエリア*/

.event {
  width: 100%;
  text-align: center;
}
.event_title_logo {
  height: 78px;
  padding-top: 110px;
  padding-bottom: 47px;
}

.event ul {
  background-color: white;
  flex-wrap: wrap;
  border: solid 3px #4f260b;
  font-size: 23px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 35px;
  max-width: 1000px;
  max-height: 200px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.event li {
  display: flex;
  padding-bottom: 21px;
}
li:last-child {
  padding-bottom: 0px;
}

.event p {
  padding-left: 160px;
  padding-right: 60px;
}

.event a {
  font-size: 23px;
  border-bottom: 2px solid #4f260b;
  white-space: nowrap;
}

/*ACCESSエリア*/
.access_title_logo {
  height: 78px;
  white-space: nowrap;
  padding-top: 110px;
  padding-bottom: 47px;
}

iframe {
  display: block;
  width: 100%;

  height: 472px;
}
/*フッターエリア*/
footer {
  background-color: white;
}
footer ul {
  display: flex;
  padding-left: 100px 0px;
  margin-left: 20px;
  margin-bottom: 50px;
}
footer li {
  width: 218px;
  white-space: nowrap;
  padding: 82px 32px;
}

footer p {
  font-size: 20px;
  padding-bottom: 20px;
}

.footer_logo img {
  width: 218px;
  margin: 0;
}

.footer_a {
  position: fixed;
  padding-top: 38px;
  padding-left: 80%;
  bottom: 230px;
  width: 128px;
}

.copyright p {
  text-align: center;
  white-space: nowrap;
  padding-bottom: 80px;
  width: 100%;
}

/*スマホ版メニュー*/
.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    /*重なり具合*/
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    /*位置の調整*/
    position: relative;
    top: 10px;
    /*ボタンの変化*/
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    /*位置の調整*/
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }
  /*メニューの見た目*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /*デバイスの高さ１００％*/
    background: rgba(0, 0, 0, 0.8);
    /*重なり具合の調節*/
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav li {
    padding: 20px;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
  }

  picture {
    max-width: 1100px;
    width: 100%;
  }
  /*maintopエリア*/
  .font_size_1 {
    font-size: 24px;
    padding-top: 40px;
  }
  .font_size_2 {
    font-size: 55px;
    line-height: 1.15;
    padding: 32px 0;
    text-align: center;
  }

  .font_size_3 {
    text-align: center;
    font-size: 23px;
    width: 100%;

    padding-bottom: 68px;
    font-feature-settings: "palt";
    line-height: 1.8;
  }
  .br_sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  picture {
    max-width: 767px;
    width: 100%;
  }

  main > section {
    max-width: 300px;
  }
  /*maintopエリア*/
  .font_size_1 {
    font-size: 17px;
    padding-top: 0;
  }
  .font_size_2 {
    font-size: 34px;
    line-height: 1.15;
  }

  .font_size_sp_3 {
    display: block;
    text-align: center;
    font-size: 17px;
    width: 100%;
    max-width: 360px;
    padding-bottom: 40px;
    margin: 0 auto;
    line-height: 1.8;
  }

  .font_size_pc_3 {
    display: none;
  }

  /*aboutusエリア*/

  .about_us_logo {
    height: 47px;
    padding-top: 57px;
    padding-bottom: 26px;
    text-align: center;
  }
  .about_us_title_img {
    max-width: 300px;
    width: 100%;
  }

  .about_us ul {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  .about_us li {
    flex-wrap: wrap;
    width: 100%;
  }

  .about_us h3 {
    font-size: 32px;
    line-height: 1.25;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0px;
    margin-left: 0%;
  }

  .about_us p {
    font-size: 16px;
    padding-left: 0px;
    margin: 0 auto;
    display: block;
    padding: 0px;
    max-width: 335px;
    width: 100%;
    padding-bottom: 150px;
  }
  .about_us_title_img {
    border-bottom-right-radius: 0px;
    margin: 0 auto;
    max-width: 767px;
    width: 100%;
  }

  .about_us_pc {
    display: none;
  }
  .about_us_sp {
    display: block;
  }

  .about_us_title_sp {
    display: block;
    padding-bottom: 19px;
  }

  .about_us_title_pc {
    display: none;
  }

  /*menuエリア*/
  .menu_title_logo {
    height: 47px;
    padding-top: 57px;
    padding-bottom: 26px;
  }

  .menu h3 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .menu p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 32px;
    padding-bottom: 60px;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    width: 100%;
  }

  .menu li {
    padding-left: 0px;
  }

  /*galleryエリア*/
  .gallery_img_pc {
    display: block;
    max-width: 767px;
    width: 100%;
  }

  .gallery_img_sp img {
    width: 100%;
  }

  .gallery_title_logo {
    height: 47px;
    padding-top: 25px;
  }
  /*eventエリア*/
  .event_title_logo {
    height: 47px;
    padding-top: 34px;
    padding-bottom: 19px;
  }

  .event ul {
    padding: 28px 0px;
    width: 100%;
  }
  .event li {
    flex-wrap: wrap;
    padding-bottom: 22px;
  }

  .event p {
    font-size: 16px;
    padding-left: 15px;
  }

  .event a {
    font-size: 15px;
    margin-left: 15px;
  }

  /*accesエリア*/
  .access_title_logo {
    height: 47px;
    padding-top: 34px;
    padding-bottom: 13px;
  }

  .iframe {
    max-width: 767px;
    height: 192px;
    width: 100%;
  }
  /*footerエリア*/

  footer ul {
    padding-left: 0;
    flex-direction: column;
  }
  .footer_logo {
    padding-top: 30px;
    height: 26px;
    padding-left: 5px;
  }

  footer li {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 33px;
  }

  footer p {
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
  }
  .footer_a {
    padding-left: 70%;
    top: 580px;
    width: 18%;
  }

  .copyright p {
    padding-top: 0px;
    padding-bottom: 34px;
  }
}

/*スライダー部分*/
.slick-dots {
  bottom: 20px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*どちらも白くする*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
  /*後ほどサイズを変更する*/
}
