@charset "utf-8";

body {
  background-color: #eeeeee;
  max-width: 960px; /*親要素だけでよい*/
  margin: 0 auto; /*親要素につけると中央配置になる*/
}

h2 {
  text-align: center;
  white-space: nowrap;
  color: darkgreen;
  font-weight: bold;
  font-size: 25px;
  background-color: right gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

/*liに画像もh3もテキストもまとめる！*/
li {
  width: 32%;
  margin: 0 10px;
  background-color: white;
}

h3 {
  font-size: 20px;
  margin: 0px 10px;
  margin-bottom: 5px;
  color: darkgreen;
  border-left: 8px solid darkgreen;
  margin-top: 10px;
}
p {
  font-size: 14px;
  line-height: 20px; /*メモ：行間を広げる*/
  padding: 5px 10px 10px 10px;
}

@media screen and (max-width: 400px) {
  h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 400px;
  }
  li {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  img {
    width: 100%; /*画像100%に広げる*/
  }

  ul {
    flex-direction: column;
  }
}
