@charset "utf-8";

/*疑問点書いています*/

.header {
  /*header{}なのか、header .header{}なのか分からない*/
  margin: 20px 50px;
  max-width: 1000px;
  display: flex;
  white-space: nowrap;
}

.header div {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin: 0 auto;
}

ul {
  display: flex;
  margin: 0px auto;
  white-space: nowrap;
  align-items: center;
}

li {
  margin-right: 0 auto;
  display: flex;
  font-size: 15px;
  color: #282828;
}

.menu li + li {
  border-left: 1px solid; /*線が短い*/
  padding: 0 20px 0 20px;
  flex-grow: 1;
}

.menu .border1 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border3 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border4 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border5 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    margin: 0;
  }

  .header div {
    padding-top: 20px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  .menu {
    padding: 5px;
    padding-top: 0px;
    display: block;
    font-weight: lighter;
    margin: 0;
  }
  .menu li + li {
    border-left: none;
    white-space: nowrap;
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border1 {
    border-bottom: 1px solid #282828;
    width: 250px; /*px数がわからない。適当値にしている*/
    margin: 0px;
    display: flex;
    font-size: 10px;
    height: 20px;
    padding: 5px;
  }

  .menu .border2 {
    border-bottom: 1px solid #282828;
    width: 250px;
    margin: 0px;
    display: flex;
    font-size: 10px;
    height: 20px;
    padding: 5px;
  }

  .menu .border3 {
    border-bottom: 1px solid #282828;
    width: 250px;
    margin: 0px;
    display: flex;
    font-size: 10px;
    height: 20px;
    padding: 5px;
  }

  .menu .border4 {
    border-bottom: 1px solid #282828;
    width: 250px;
    margin: 0px;
    display: flex;
    font-size: 10px;
    height: 20px;
    padding: 5px;
  }

  .menu .border5 {
    border-bottom: 1px solid #282828;
    width: 250px;
    margin: 0px;
    display: flex;
    font-size: 10px;
    height: 20px;
    padding: 5px;
  }
}
