@charset "utf-8";

header {
  max-width: 960px;
  padding-top: 15px;
  padding-right: 10px;
  width: 90%;
  display: flex;
}

.header div {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

ul {
  width: 20%;
  margin: 50px auto;
  display: flex;
  font-size: 20px;
  color: #282828;
  margin: 0 auto;
  align-items: center;
  white-space: nowrap;
}

li {
  margin-left: 20%;
  margin-right: 0 auto;
  display: flex;
  font-size: 10px;
  color: #282828;
  padding: 0;
  width: 30%;
}

.menu li + li {
  border-left: 1px solid;
  padding: 0 20px 0 20px;
  flex-grow: 1;
}

.menu .border1 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border3 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border4 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

.menu .border5 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
  .header div {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  .menu {
    font-size: 40px;
    padding: 5px;
    width: 100%;
    display: block;
    color: #282828;
    font-weight: lighter;
    margin-left: 0;
    text-align: left;
  }
  .menu li + li {
    border-left: none; /*なぜこれを書かないと767px以下のサイズで縦線が消えないかがわからない*/
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border1 {
    border-bottom: 1px solid #282828;
    width: 540px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    height: 20px;
    padding: 5px;
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border2 {
    border-bottom: 1px solid #282828;

    width: 540px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    height: 20px;
    padding: 5px;
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border3 {
    border-bottom: 1px solid #282828;
    width: 540px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    height: 20px;
    padding: 5px;
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border4 {
    border-bottom: 1px solid #282828;
    width: 540px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    height: 20px;
    padding: 5px;
  }

  /*メニューの文字を線の先頭に揃えられないのはなぜ？*/
  /*メニューの文字と線の間が広くならない*/
  .menu .border5 {
    border-bottom: 1px solid #282828;
    width: 540px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    height: 20px;
    padding: 5px;
  }
}
