@charset "utf-8";

/*疑問点書いています*/

.header {
  /*header{}なのか、header .header{}なのか分からない*/
  margin: 20px 50px;
  max-width: 1000px;
  display: flex;
  white-space: nowrap;
}

.header div {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin: 0 auto;
}

ul {
  display: flex;
  margin: 0px auto;
  white-space: nowrap;
  align-items: center;
}

li {
  margin-right: 0 auto;
  display: flex;
  font-size: 15px;
  color: #282828;
}

.border li + li {
  border-left: 1px solid; /*線が短い*/
  padding: 0 20px 0 20px;
  flex-grow: 1;
}

.border {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    margin: 0;
  }

  .header div {
    padding-top: 20px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  ul.border {
    margin: 10px 10px;
  }
  .border {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 0;
    padding-top: 10px;
    display: block;
    font-weight: lighter;
    margin: 0;
    border-bottom: 1px solid #282828;
    font-size: 10px;
    width: 90%;
  }
  .border li + li {
    border-left: none;
    white-space: nowrap;
  }
}
